# Not shareable folders/junk
.vs/
bin/
obj/

# Project files
Makefile
*.make
*.vcxproj
*.vcxproj.*
*.sln

# Exclude vendor folder
!vendor/premake5/*.exe

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app